
<div class="container bg-light">
  <div class="content-header mt-5 p-5">
    <div class="alert-alert"><%= render '/shared/flash' %></div>
    <% if current_admin.present? %>
      <%= link_to "Home", root_path %>
      <a href="<%= managers_path -%>" class="p-3" onclick=><i class="fa fa-ban fa-fw pull-right"></i>Managers List</a>
      <a href="<%= destroy_admin_session_path -%>" class="p-3"><i class="fa fa-ban fa-fw pull-right"></i>Logout</a>
    <% end %>
    <div class="container mt-3 p-3">
    <a type="button" data-bs-toggle="modal" data-bs-target="#show-modal" class="btn btn-outline-success p-2" id="show-modal-button"></i>Settings</a>
    </div>
    <div class="header-section mx-3">
      <h3>Access de information of the manager: <%= @manager.name %></h3>
    </div>
  </div>
  <div class="block full block-alt-noborder mx-5">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <table class="table form.control">
            <tr>
              <td class="p-3"><b>Id:</b></td>
              <td class="p-3"><%= @manager.id %></td>
              <td class="p-3"><b>Name:</b></td>
              <td class="p-3"><%= @manager.name %></td>
            </tr>
            <tr>
              <td class="p-3"><b>Email:</b></td>
              <td class="p-3"><%= @manager.email %></td>
              <td class="p-3"><b>Phone:</b></td>
              <td class="p-3"><%= @manager.phone %></td>
            </tr>
            <tr>
              <td class="p-3"><b>City:</b></td>
              <td class="p-3"><%= @manager.city %></td>
              <td class="p-3"><b>Age:</b></td>
              <td class="p-3"><%= @manager.age %></td>
            </tr>
            <tr>
              <td class="p-3"><b>Note:</b></td>
              <td class="p-3"><%= @manager.notes %></td>
              <td class="p-3"><b></b></td>
              <td><%= link_to "Delete", manager_path(@manager), class: 'btn btn-outline-danger', data: { 
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure to DELETE this manager?'
                  } %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="show-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Manager Form</h2>
        <button data-bs-dismiss="modal" class="btn-close"></button>
      </div>
      <div class="modal-body form-control">
        <legend> <i class="bi bi-person-plus-fill"></i> Edit <%= @manager.name %></legend>
        <%= form_with model: @manager do |f| %>
          <table class="table table-responsive">
            <tr class="mb-3">
              <td><%= f.label :first_name -%> *</td>
              <td><%= f.text_field :first_name, required: true, class: 'form-control' -%></td>
            </tr>
            <tr class="mb-3">
              <td><%= f.label :last_name -%> *</td>
              <td><%= f.text_field :last_name, required: true, class: 'form-control' -%></td>
            </tr>
            <tr class="mb-3">
              <td><%= f.label :email -%> *</td>
              <td><%= f.text_field :email, required: true, class: 'form-control' -%></td>
            </tr>
            <tr class="mb-3">
              <td><%= f.label :phone -%> *</td>
              <td><%= f.text_field :phone, required: true, class: 'form-control' -%></td>
            </tr>
            <tr class="mb-3">
              <td><%= f.label :city -%> *</td>
              <td><%= f.text_field :city, required: true, class: 'form-control' -%></td>
            </tr>
            <tr class="mb-3">
              <td><%= f.label :age -%> *</td>
              <td><%= f.text_field :age, required: true, class: 'form-control' -%></td>
            </tr>
            <div>
              <td><%= f.label :notes -%> *</td>
              <td><%= f.text_area :notes, required: true, class: 'form-control' -%></td>
            </div>
          </table>
          <div class="modal-footer p-3">
            <div class="container text-end">
              <button data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
              <button type="submit" class="btn btn-outline-primary">Save changes</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>

<%= javascript_include_tag "tribute_init", "data-turbo-track" => "reload" %>
